<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
       <title>Sun-Shine Farm Inc.</title>
</head>

<body>
<div layout:fragment="custom-content">
       <div class="card, col-sm-12">
              <div class="card-header">
                     Add <strong>Expenses</strong>
              </div>
              <div class="card-body card-block">
                     <form action="" method="post" class="form-horizontal">
                            <div class="row form-group">
                                   <div class="col col-md-3"><label class=" form-control-label">ID</label></div>
                                   <div class="col-12 col-md-9"><input type="text" name="id" placeholder="Enter Expense ID" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                   <div class="col col-md-3"><label class=" form-control-label">Expense Name</label></div>
                                   <div class="col-12 col-md-9"><input type="text" name="expenseName" placeholder="Enter Expense name" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                   <div class="col col-md-3"><label class=" form-control-label">Amount</label></div>
                                   <div class="col-12 col-md-9"><input type="text" name="amount" placeholder="Enter Expense Amount" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                   <div class="col col-md-3"><label class=" form-control-label">Date</label></div>
                                   <div class="col-12 col-md-9"><input type="date" name="date" placeholder="Enter Recurring Date" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                   <div class="col col-md-3"><label class=" form-control-label">Person Name</label></div>
                                   <div class="col-12 col-md-9"><input type="text" name="personName" placeholder="Enter Person's Name responsible for this expense" class="form-control"></div>
                            </div>
                     </form>
              </div>
              <div class="card-footer">
                     <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                     </button>
                     <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                     </button>
              </div>
       </div>
</div>
</body>

</html>
