<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SunShine-Farm Inc.</title>
    <meta name="description" content="SunShine-Farm Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/apple-icon.png}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">


    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body class="bg-dark">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a th:href="@{/}">
                    <img class="align-content" th:src="@{/images/logo.png}" alt="">
                </a>
            </div>
            <div class="login-form">
                <span th:text="${rejectMsg}"></span>
                <span th:text="${successMsg}"></span>
                <form method="post" th:object="${user}" th:action="@{/register}">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">User Name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="userName" name="userName"
                                                            placeholder="Enter User name" class="form-control"
                                                            th:field="*{userName}" required></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Email</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="email" name="email"
                                                            placeholder="Enter Email" class="form-control"
                                                            th:field="*{email}" required></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Mobile No.</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="mobile" name="mobile"
                                                            placeholder="Enter Mobile Numnber" class="form-control"
                                                            th:field="*{mobile}" required></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class=" form-control-label">Name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="Enter name"
                                                            class="form-control" th:field="*{name}" required></div>
                    </div>
                    <div class="row form-group">
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>

                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a th:href="@{/login}"> Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


</body>

</html>
