<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Sun-Shine Farm Inc.</title>
    <style type="text/css">
        .success {
            color: greenyellow;
            font-weight: bold;
        }

        .err {
            color: red;
        }
    </style>
</head>

<body>
<div layout:fragment="custom-content">
    <div class="card, col-sm-12">
        <div class="card-header">
            Add <strong>User</strong>
        </div>
        <div class="card-body card-block">
            <span th:class="success" th:text="${successuser}"></span>
            <form method="post" class="form-horizontal" th:object="${obj}" th:action="@{/user/create}">
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">User Name</label></div>
                    <div class="col-12 col-md-6"><input type="text" id="userName" name="userName"
                                                        placeholder="Enter User name" class="form-control"
                                                        th:field="*{userName}" required></div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Password</label></div>
                    <div class="col-12 col-md-6"><input type="password" id="password" name="password"
                                                        placeholder="Enter User Password" class="form-control"
                                                        th:field="*{password}" required></div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Email</label></div>
                    <div class="col-12 col-md-6"><input type="text" id="email" name="email" placeholder="Enter Email"
                                                        class="form-control" th:field="*{email}" required></div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Mobile No.</label></div>
                    <div class="col-12 col-md-6"><input type="text" id="mobile" name="mobile"
                                                        placeholder="Enter Mobile Number" class="form-control"
                                                        th:field="*{mobile}" required></div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Name</label></div>
                    <div class="col-12 col-md-6"><input type="text" id="name" name="name" placeholder="Enter name"
                                                        class="form-control" th:field="*{name}" required></div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Role</label></div>
                    <div class="col-12 col-md-6">
                        <select data-placeholder="Select roles" class="standardSelect" th:field="*{roles}" multiple>
                            <option th:each="tyyy : ${rolelist}" th:value="${tyyy.id}">
                                <span th:text="${tyyy.roleName}"></span>
                            </option>
                        </select>
                    </div>
                    <div class="col col-md-3">
                        <span th:class="err" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Create
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>
</body>

</html>
