<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
       <title>Sun-Shine Farm Inc.</title>
</head>

<body>
<div layout:fragment="custom-content">
       <div class="content mt-3">
              <div class="animated fadeIn">
                     <div class="row">

                            <div class="col-md-12">
                                   <div class="card">
                                          <div class="card-header">
                                                 <strong class="card-title">User List</strong>
                                          </div>
                                          <div class="card-body">
                                                 <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                               <th>User Name</th>
                                                               <th>Password</th>
                                                               <th>Email</th>
                                                               <th>Mobile No.</th>
                                                               <th>First Name</th>
                                                               <th>Last Name</th>
                                                               <th>Registration date</th>
                                                               <th>Role Name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="data : ${list}">
                                                               <td th:text="${data.userName}">User name</td>
                                                               <td th:text="${data.password}">User name</td>
                                                               <td th:text="${data.email}">User name</td>
                                                               <td th:text="${data.mobile}">User name</td>
                                                               <td th:text="${data.firstName}">User name</td>
                                                               <td th:text="${data.lastName}">User name</td>
                                                               <td th:text="${#dates.format(data.registrationDate, 'dd-MMM-yyyy')}">User name</td>
                                                               <td th:text="${data.role.roleName}">User name</td>
                                                        </tr>
                                                        </tbody>
                                                 </table>
                                          </div>
                                   </div>
                            </div>


                     </div>
              </div><!-- .animated -->
       </div><!-- .content -->
</div>
</body>

</html>
